<div class="ui very padded container" style="padding-top: 4%; margin-bottom: 100px">
<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>
</div>